* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #FFFFFF;
}

/* N A V I G A T I O N */

nav {
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 1px;
}

.navbar {
    background-color: #000000;
    color: #FFFFFF;
}

.navbar-text {
    font-weight: bold;
    letter-spacing: 2px;
}

/* P A G E  H E A D E R */

.header {
    background-color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    margin: 0px auto;
    letter-spacing: 2px;
    color: #8b0000;
    text-align: center;
}

/* C O N T E N T */

/* page headers */
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 55px;
    margin: 0px auto;
    letter-spacing: 2px;
    color: #8b0000;
    text-align: center;
    padding-top: 50px;
}

/* section headers */
h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    margin: 0px auto;
    letter-spacing: 2px;
    color: #8b0000;
    text-align: center;
    padding-top: 50px;
}

/* button */
.btn {
    text-align:center;
    display:block;
    background-color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* defined width for button */
.btnw {
    max-width: 150px;
}

/* club summary */
.summary {
    margin: auto;
    padding: 10px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 24px;
    max-width: 1000px;
    text-align: center;
    line-height: 40px;
}

/* card border */
.card {
    border-color: #000000;
}

/* card title */
.card-title {
    font-weight: bold;
    letter-spacing: 1px;
}

/* card subtitle */
.card-subtitle {
    font-size: 18px;
}

/* meetings and events info box */
.meetings {
    margin: auto;
    max-width: 1000px;
}

/* card title for two side by side boxes */
.two-box {
    text-align: center;
    color: #8b0000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
}

/* card title for three side by side boxes */
.three-box {
    text-align: center;
    color: #8b0000;
    letter-spacing: 2px;
    font-size: 30px;
}

/* blog card deck */
.blog {
    margin: auto;
    max-width: 1000px;
}

/* card title for eboard boxes */
.eboard {
    text-align: center;
    color: #8b0000;
    letter-spacing: 2px;
    font-size: 26px;
}

/* cards for events, workshops, and resources */
.ewr {
    max-width: 1000px; 
    margin: auto; 
    margin-bottom: 25px;
}